.sidebar-nav {
  display: flex;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  flex-direction: row;
  overflow-x: auto;
  padding: 0 0.5rem;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 769px) {
    flex-direction: column;
    padding: 0;
    border-bottom: none;
    gap: 0rem;

    position: static;
    width: auto;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 1rem 0.75rem;
    text-decoration: none;
    color: #64748b;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    lucide-icon {
      display: flex;
      transition: color 0.3s ease;
    }

    &:hover {
      color: var(--primary-color);

      lucide-icon {
        filter: drop-shadow(0 0 2px rgba(var(--primary-rgb), 0.2));
      }
    }

    &::after {
      content: '';
      position: absolute;
      background-color: var(--primary-color);
      transition: all 0.3s ease;

      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      transform: translateX(-50%);
    }

    &.active {
      color: #2563eb;
      font-weight: 600;

      &::after {
        width: 100%;
      }

      lucide-icon {
        color: #2563eb;
      }
    }

    @media (min-width: 769px) {
      justify-content: flex-start;
      padding: 0.75rem 1rem;
      border-radius: 0px;

      &:hover {
        background-color: #f8fafc;
      }

      &::after {
        left: -4px;
        top: 20%;
        bottom: auto;
        height: 60%;
        width: 3px;
        border-radius: 4px;
        transform: none;
        opacity: 0;
      }

      &.active {
        background-color: #f1f5f9;

        &::after {
          opacity: 1;
          height: 60%;
          width: 3px;
        }
      }
    }
  }
}
