<nav class="sidebar-nav">
  <a routerLink="overview" routerLinkActive="active" class="nav-item">
    <lucide-icon [img]="icons.overview" size="20"></lucide-icon>
    Vista General
  </a>

  <a routerLink="edit" routerLinkActive="active" class="nav-item">
    <lucide-icon [img]="icons.edit" size="20"></lucide-icon>
    Editar Perfil
  </a>

  <a routerLink="security" routerLinkActive="active" class="nav-item">
    <lucide-icon [img]="icons.security" size="20"></lucide-icon>
    Seguridad
  </a>
</nav>
