<div class="profile-container">
  <header class="profile-header">
    <h1>Mi Cuenta</h1>
    <p>Gestiona tu información personal y seguridad de la cuenta.</p>
  </header>

  @if (user()) {
    <div class="profile-card">
      <div class="card-top">
        <div class="user-info">
          <!-- AVATAR -->
          <div class="avatar">
            @if (user()?.profileImageUrl) {
              <img [src]="user()?.profileImageUrl!" alt="Profile image" class="avatar-img" />
            } @else {
              {{ user()?.firstName?.charAt(0) }}{{ user()?.lastName?.charAt(0) }}
            }
          </div>

          <!-- USER DETAILS -->
          <div class="details">
            <h2>{{ user()?.firstName }} {{ user()?.lastName }}</h2>
            <span class="badge" [class.admin]="authService.isAdmin()">
              {{ authService.isAdmin() ? 'Administrador' : 'Usuario Standard' }}
            </span>
          </div>
        </div>

        <div class="card-actions">
          <button class="btn-outline" routerLink="../edit">Editar Perfil</button>
        </div>
      </div>

      <hr />

      <div class="info-grid">
        <div class="info-item">
          <label>Correo Electrónico</label>
          <p>{{ user()?.email }}</p>
        </div>

        <div class="info-item">
          <label>ID de Usuario</label>
          <p>#{{ user()?.id }}</p>
        </div>

        <div class="info-item">
          <label>Nombre de Usuario</label>
          <p>{{ user()?.nickName }}</p>
        </div>

        <div class="info-item">
          <label>Seguridad</label>
          <button class="btn-text" routerLink="../security">Cambiar contraseña de acceso</button>
        </div>
      </div>
    </div>

    <!-- SESIONES -->
    <app-profile-sessions />
  }
</div>
