<section class="filters-bar">
  <div class="filter-group search-input">
    <label>Buscar usuario:</label>
    <input
      [value]="searchUserTerm()"
      (input)="onUserInput($any($event.target).value)"
      placeholder="Buscar por usuario, nombre o apellido..."
    />
  </div>

  <div class="filter-group search-input">
    <label>Buscar email:</label>
    <input
      [value]="searchEmailTerm()"
      (input)="onEmailInput($any($event.target).value)"
      placeholder="Buscar por email..."
    />
  </div>

  <div class="filter-group">
    <label>Mostrar:</label>
    <select [value]="pageSize()" (change)="onPageSizeChange($any($event.target).value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>

  <div class="filter-group">
    <button class="btn-reset" (click)="reset.emit()">Restablecer Filtros</button>
  </div>

  <div class="view-toggle-group">
    <button [class.active]="!showDisabledUsers()" (click)="toggleDisabled.emit(false)">
      Activos
    </button>

    <button [class.active]="showDisabledUsers()" (click)="toggleDisabled.emit(true)">
      Inactivos
    </button>
  </div>
</section>
