<div class="auth-container">
  <div class="auth-card">
    <h2>Crear tu cuenta</h2>
    <p>Únete para organizar tus tareas de forma eficiente</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="firstName" />
        @let firstNameError = getError('firstName');
        <small class="error" [class.show]="firstNameError"> {{ firstNameError }} </small>
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text" formControlName="lastName" />
        @let lastNameError = getError('lastName');
        <small class="error" [class.show]="lastNameError"> {{ lastNameError }} </small>
      </div>

      <div class="form-group">
        <label>Nombre de Usuario</label>
        <input type="text" formControlName="nickName" />
        @let nickNameError = getError('nickName');
        <small class="error" [class.show]="nickNameError"> {{ nickNameError }} </small>
      </div>

      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" formControlName="email" />
        @let emailError = getError('email');
        <small class="error" [class.show]="emailError"> {{ emailError }} </small>
      </div>

      <div class="form-group full-width">
        <label>Contraseña</label>
        <input type="password" formControlName="password" />
        @let passwordError = getError('password');
        <small class="error" [class.show]="passwordError"> {{ passwordError }} </small>
      </div>

      @if (authService.authError()) {
        <div class="alert-error">{{ authService.authError() }}</div>
      }

      <button type="submit" [disabled]="registerForm.invalid || isLoading()">
        {{ isLoading() ? 'Creando cuenta...' : 'Registrarse' }}
      </button>

      <div class="footer-links">
        <span>¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a></span>
      </div>
    </form>
  </div>
</div>
