<nav class="navbar">
  <div class="brand">
    <a routerLink="/tasks">Task Manager</a>
  </div>

  <ul class="nav-links">
    @if (authService.currentUserToken()) {
      <li><a routerLink="/tasks" routerLinkActive="active">Mis tareas</a></li>

      @if (authService.isAdmin()) {
        <li><a routerLink="/admin" routerLinkActive="active">Panel Admin</a></li>
      }

      <li class="user-dropdown">
        <button class="dropdown-trigger" (click)="toggleMenu()">
          <span
            >Hola, <strong>{{ authService.currentUser()?.name }}</strong></span
          >
          <lucide-icon [img]="icons.chevron" class="arrow" [class.open]="isMenuOpen()" size="16">
          </lucide-icon>
        </button>

        @if (isMenuOpen()) {
          <div class="dropdown-menu">
            <a routerLink="/profile" (click)="toggleMenu()" class="dropdown-item">
              <lucide-icon [img]="icons.user" size="18"></lucide-icon>
              Mi Cuenta
            </a>
            <div class="divider"></div>
            <button class="dropdown-item logout" (click)="onLogoutClick()">
              <lucide-icon [img]="icons.logout" size="18"></lucide-icon>
              Cerrar Sesión
            </button>
          </div>
        }
      </li>
    } @else {
      <li><a routerLink="/login">Iniciar Sesión</a></li>
      <li><a routerLink="/register">Registrarse</a></li>
    }
  </ul>
</nav>

@if (showLogoutConfirm()) {
  <app-confirm-modal
    modalTitle="Cerrar Sesión"
    message="¿Estás seguro de que deseas salir? Deberás ingresar tus credenciales nuevamente."
    confirmText="Cerrar Sesión"
    (confirm)="confirmLogout()"
    (cancel)="cancelLogout()"
  />
}
